@font-face {
  font-family: 'iconfont';
  src: url('./images/iconfont.eot');
  src: url('./images/iconfont.eot?#iefix') format('embedded-opentype'),
      url('./images/iconfont.woff2') format('woff2'),
      url('./images/iconfont.woff') format('woff'),
      url('./images/iconfont.ttf') format('truetype'),
      url('./images/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*
 margin 0
 padding 0
.wrapper
    height 100%
    width 100%
    //底部菜单
    .footer
        width 100%
        height 6vh
        position absolute
        display flex
        justify-content center
        background-color #fff
        align-content center
        bottom 0
        .footer-item
            flex 1 //分散排布
            text-align center //内容居中
        .footer-item span.iconfont
            font-size 20px
            padding 9px 0
         .footer-item p 
            font-size 14px
            // line-height 14px
            text-align center
            bottom 1px 




 